<div id="<%= dom_id personal_photo %>">
  <p>
    <strong>Name:</strong>
    <%= personal_photo.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag personal_photo.photo %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= image_tag personal_photo.icon %>
  </p>

</div>
