<div id="<%= dom_id personal_photo %>">
  <p>
    <strong>Name:</strong>
    <%= personal_photo.name %>
  </p>
  <% if personal_photo.photo.attached? %>
    <p>
      <strong>Photo:</strong>
      <%= image_tag personal_photo.photo %>
    </p>
  <% end %>

</div>
