<% content_for :title, "Editing personal photo" %>

<h1>Editing personal photo</h1>

<%= render "form", personal_photo: @personal_photo %>

<br>

<div>
  <%= link_to "Show this personal photo", @personal_photo %> |
  <%= link_to "Back to personal photos", personal_photos_path %>
</div>
