<div id="<%= dom_id original_photo %>">
  <% if original_photo.processed_photo.attached? %>
    <p>
      <strong>Processed Photo:</strong>
      <%= image_tag original_photo.processed_photo %>
    </p>
  <% end %>
</div>
