<p style="color: green"><%= notice %></p>

<% content_for :title, "Original photos" %>

<h1>Original photos</h1>

<div id="original_photos">
  <% @original_photos.each do |original_photo| %>
    <% if original_photo.processed_photo.attached? %>
      <p>
        <%= link_to(image_tag(original_photo.processed_photo.variant(resize_to_fit: [500, 300]).processed), original_photo) %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New original photo", root_path %>
